<p style="color: green"><%= notice %></p>

<%= render @monster %>
<% if can? :manage, @monster %>
  <div>
    <%= link_to "Edit this monster", edit_monster_path(@monster) %> |
    <%= button_to "Destroy this monster", @monster, method: :delete %>
  </div>
<% end %>
<%= link_to "Back to monsters", monsters_path %>
