<div id="<%= dom_id character %>">
  <p class="text-warning">
    <strong>Name:</strong>
    <%= character.name.to_s %>
  </p>
  <p>
      <strong>Class:</strong>
      <%= character.char_class.name %>
  </p>
   <p>
      <strong>Race:</strong>
      <%= character.race.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= character.level %>
  </p>


  <p>
    <strong>Max HP:</strong>
    <%= character.max_health %>
  </p>

  <p>
    <strong>Current HP:</strong>
    <%= character.health %>
  </p>

  <p>
    <strong>EXP:</strong>
    <%= character.experiense %>
  </p>

</div>
