<div id="<%= dom_id character %>">
  <p class="text-warning">
    <strong>Name:</strong>
    <%= character.name.to_s %>
      <%= link_to "Change name", edit_character_path %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= character.power %>
  </p>


  <p>
    <strong>HP:</strong>
    <%= character.health %>
  </p>


  <p>
    <strong>EXP:</strong>
    <%= character.experiense %>
  </p>

</div>
