<%= form_with(model: character) do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, value: random_name%>
  </div>

 
  <div>
    <%= form.select :char_class_id,  CharClass.all.map {|clas| [clas.name, clas.id]}, {} %>
  </div>
  <div>
    <%= form.select :race_id,  Race.all.map {|race| [race.name, race.id]}, {} %>
  </div>
  <div>
    <%= form.hidden_field :user_id, value: current_user.id   %>
  </div>
  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
