<div class="row p-3">
  <div class="col shadow p-3">
    <div class="row">
      <div class="col">
        <%= render @character %>
      </div>
      <div>
        <%= turbo_frame_tag @character.ability_table do %> 
          <%= render  view_for_a_t, ability_table: character.ability_table%>
        <% end %>    
      </div>
    </div>
  </div>
  <div class="col shadow pt-5">
    <div class="container">    
      <% if @character.ability_table.skill %>
        <%= render 'skills/skill', skill: @character.ability_table.skill %>
      <% end %>
    </div>
  </div>
</div>
<table class="table table-striped w-50">
<th> Your weapons: </th>
  <% @character.items.filter_map do |weapon| %>
      <div>
        <% if !weapon.weapon_id.nil? %>
          <%= render 'weapons/weapon', weapon: Weapon.find(weapon.weapon_id) %>
        <% end %>
      </div>
  <% end %>
</table>

  <div class="p-5">
    <%= button_to "Let him gone", @character, method: :delete, class: delete_button %>
  </div>
