<%= render @room %>

  <% if !@room.monster_defeated? && character.alive?%>
    <% if !@room.in_action? %>
      <% @room.monster.health = @room.monster.max_health %>
      <% @room.monster.save %>
    <% end %>
    
    <p>
      <strong>Monster:</strong>
      <%= @room.monster.name %>
      <div>
        health: <%= @room.monster.health %>
      </div>
    </p>
    <%= render class_feature_view %> 
    <% if !@room.in_action?%>
      <%= render 'rooms/attack_button'%>
    <% elsif @room.in_action? %>
      <%= render 'rooms/attack_button'%>
      <%= button_to [:run], class: "room_btn btn-secondary rounded shadow" do%>
        run
      <% end %>
    <% end %>
  <% elsif character.dead?%>
      <%= link_to "go home", character_path(character), class:"room_btn btn-dark shadow" %>
  <%else%>
      <p>
        <strong>There are no monster</strong>
      </p>
  <% end %>

<% if @room.monster_defeated? %>
  <%= button_to "Next", next_room, method: :get, class:"room_btn btn btn-dark shadow" %>
  <%= button_to [:rest], class:"room_btn btn btn-dark shadow" do%>
    Short rest
  <% end %>
  <%= button_to [:long_rest], class: "room_btn btn-success rounded shadow btn-lg" do%>
    long rest
  <% end %>
<% end %>
</br>
</br>
</br>
</br>
</br>
<% if can? :manage, @room %>
  <div>
    <%= link_to "Edit this room", edit_room_path(@room) %> 

    <%= button_to "Destroy this room", @room, method: :delete %>
  </div>
  <%= link_to "Back to rooms", rooms_path %>
<% end %>
