<div id="<%= dom_id ability_table %>", class="text-warning pt-1">
  <div class="pt-1">
    <strong>Strength:</strong>
    <%= ability_table.strength %>
  </div>
  <div class="pt-1">
    <strong>Dexterity:</strong>
    <%= ability_table.dexterity %>
  </div>
  <div class="pt-1">
    <strong>Constitution:</strong>
    <%= ability_table.constitution %>
  </div>
  <div class="pt-1">
    <strong>Intelligence:</strong>
    <%= ability_table.intelligence %>
  </div>
  <div class="pt-1">
    <strong>Wisdom:</strong>
    <%= ability_table.wisdom %>
  </div>
  <div class="pt-1">
    <strong>Charisma:</strong>
    <%= ability_table.charisma %>
  </div>

</div>