<div id="<%= dom_id ability_table %>">
  <p class="text-warning">
    <strong>Strength:</strong>
    <%= ability_table.strength %>
  </p>
<p class="text-warning">
    <strong>Dexterity:</strong>
    <%= ability_table.dexterity %>
  </p>
  <p class="text-warning">
    <strong>Constitution:</strong>
    <%= ability_table.constitution %>
  </p>
  <p class="text-warning">
    <strong>Intelligence:</strong>
    <%= ability_table.intelligence %>
  </p>
  <p class="text-warning">
    <strong>Wisdom:</strong>
    <%= ability_table.wisdom %>
  </p>
  <p class="text-warning">
    <strong>Charisma:</strong>
    <%= ability_table.charisma %>
  </p>

</div>