<ul id="left_menu" class="nav flex-column">
  <% if current_user %>
    <% if current_user.character %> 
      <li class="nav-item m-5">
        <img src="<%=check_avatar(current_user.character)%>",  width="250" >
      </li>
       <li class="nav-item mt-3 text-center">
        <%= "#{current_user.character.race.name.downcase} - #{current_user.character.char_class.name.downcase} #{current_user.character.name}" %>
      </li>
      <li class="nav-item mt-2">
        <%= "LVL #{current_user.character.level}" %>
      </li>
      <li class="nav-item">
        <%= "HP  #{current_user.character.health}" %>
      </li>
      <li class="nav-item mb-2">
        <%="EXP #{current_user.character.experiense}" %>
      </li>
    <% else %>
      <%= button_to "Create character", new_character_path, method: :get %>
    <% end %>
  <% else %>
    <li class="nav-item">
      <%= link_to "sign in", new_user_session_path %>
    </li>          
  <% end %>
  <% if current_user%>
    <%= turbo_frame_tag Chat.first do%>
    <div class="con">
      <% if Chat.first.messages.size > 2 %> 
        <% if Chat.first.messages.size > 9%>
          <%= render partial: 'messages/message', collection: Chat.first.messages[-9..-3]%>
        <% end %>
        <div class="text-primary" >
          <%= render partial: 'messages/message', collection: Chat.first.messages[-2..-1]%>
        </div>
      <% end %>  
    </div>
    <% end %>
  <% end %>
</ul>