<ul id="left_menu" class="nav flex-column">
  <% if current_user %>
    <li class="nav-item">
      <%=  current_user.email %>
      <li class="nav-item">
        <%= button_to "sign out", destroy_user_session_path, method: :delete %>
      </li>
    </li>
    <% if current_user.character %>
    <li class="nav-item">
      <%= button_to "Your character",  current_user.character, method: :get, class: "btn btn-md btn-dark" %>
    </li>
    <li class="nav-item">
      <%= "LVL #{current_user.character.level}" %>
    </li>
    <li class="nav-item">
      <%= "HP  #{current_user.character.health}" %>
    </li>
    <li class="nav-item">
      <%="EXP #{current_user.character.experiense}" %>
    </li>
      <%= render current_user.character.ability_table if current_user.character.ability_table%>
    <% else %>
      <%= button_to "Create character", new_character_path, method: :get %>
    <% end %>
  <% else %>
    <li class="nav-item">
      <%= link_to "sign in", new_user_session_path %>
    </li>          
  <% end %>
  <%= render Chat.first.messages%>
</ul>