<ul id="left_menu" class="nav flex-column">

  <% if current_user %>
    <% if character_exist? %> 
      <%= render 'layouts/class_info' %>
    <% else %>
      <%= button_to "Create character", new_character_path, method: :get %>
    <% end %>
  <% else %>
    <li class="nav-item">
      <%= link_to "sign in", new_user_session_path %>
    </li>  
  <% end %>

  <% if current_user%>
    <%= turbo_stream_from Chat.first%>
    
    <%= turbo_frame_tag Chat.first, target: "_top" do%>
      <%= render "layouts/logs"%>
    <% end %>
  <% end %>
</ul>